<form method="post" onsubmit="enableField()">
    {{ form.hidden_tag() }}
    <!-- ann_id -->
    <div class="field">
        <label class="label" for="ann_id">ANN ID</label>
        {{ form.ann_id(class="input", disabled="disabled") }}
        {% for error in form.ann_id.errors %}<span class="errors">{{ error }}</span>{% endfor %}
    </div>
    <fieldset disabled id="fieldset">
        <div class="columns">
            <!-- id_anime_type -->
            <div class="column is-1">
                <div class="field">
                    <label class="label" for="id_anime_type">Anime Type</label>
                    <div class="select">
                        <div class="control">{{ form.id_anime_type }}</div>
                    </div>
                    {% for error in form.id_anime_type.errors %}<span class="errors">{{ error }}</span>{% endfor %}
                </div>
            </div>
            <!-- anime_vintage -->
            <div class="column">
                <div class="field">
                    <label class="label" for="anime_vintage">Anime Vintage</label>
                    {{ form.anime_vintage(class="input") }}
                    {% for error in form.anime_vintage.errors %}<span class="errors">{{ error }}</span>{% endfor %}
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <div class="field">
        <label class="label" for="genres">Genres</label>
        <input class="input" type="text" value="{{ genres }}" disabled>
    </div>
    <div class="field">
        <label class="label" for="tags">Tags</label>
        <input class="input" type="text" value="{{ tags }}" disabled>
    </div>
    <br />
</form>
