<footer class="footer mt-auto">
    <div class="content has-text-centered">
        <p>
            Built with <strong>Flask</strong> and <strong>Bulma</strong>.
            <br />
            The source code is licensed
            <a href="https://github.com/xSardine/anisongdb-mod-tool/blob/main/LICENSE"
               target="_blank">GPL-3.0</a> and available <a href="https://github.com/xSardine/anisongdb-mod-tool/tree/main"
    target="_blank">here</a>.
        </p>
    </div>
</footer>
