{% extends "base.jinja2" %}
{% block body %}
  <h1 class="title is-4 is-spaced">Artists List</h1>
  {% include "artists/includes/forms/artist_search.jinja2" %}
  {% with data=artists, paginated=True %}
    {% include "components/table/table.jinja2" %}
  {% endwith %}
{% endblock body %}
