{% extends "base.jinja2" %}
{% block head %}
  <!-- Song js functions -->
  <script src="{{ url_for('/.static_file', filename='js/modal.js') }}"></script>
  <script src="{{ url_for('/.static_file', filename='js/songs.js') }}"></script>
{% endblock head %}
{% block body %}
  {% include "components/modal.jinja2" %}
  <h1 class="title is-4 is-spaced">Updating {{ form.song_name.data }}</h1>
  <hr>
  <h2 class="title is-5 is-spaced">Song credits</h2>
  {% include "songs/includes/credits/upload.jinja2" %}
  <hr>
  <h2 class="title is-5 is-spaced">Transcription</h2>
  {% include "songs/includes/forms/song.jinja2" %}
  <hr>
  <h2 class="title is-5 is-spaced">Artists</h2>
  {% include "songs/includes/line_ups/list_song_line_up.jinja2" %}
{% endblock body %}
